/* add style to the body of the page 

body { 
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

* {
  margin: 0;
  padding: 0;
}

/* add style to the nav bar*/
nav {
  position: sticky;
  top: 0;
  /*background-color: rgb(209, 169, 169);    */
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px 0 20px;
}

p {
  text-shadow: 1px 1px 2px #000;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: center;
  padding: 15px;
}

/*button {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #ddd;
}*/

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* style for the nav button */
.navButton {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navButton:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.navButton:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .navButton {
    padding: 13px 50px 13px;
  }
}