/* add style to the body of the page 

body { 
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

* {
  margin: 0;
  padding: 10px;
}

/* add style to the nav bar*/
/* make that when you scroll and you are at the height of the navbar,
the content disappears but you continue to see the background animation */
nav {
  position: sticky;
  top: 0;
  /* background-color: white;*/
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px 0 20px;
}

/*p {
  text-shadow: 1px 1px 2px #000;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: center;
  padding: 15px;
}*/

#video{
  display: flex;
  margin: 0 auto;
  padding-bottom: 56.25%;
}

form label {
  display: block;
  margin-bottom: 10px;
}

/*button {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #ddd;
}*/

/* body background animation */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* style for the nav button */
.navButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navButton:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.navButton:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .navButton {
    padding: 13px 50px 13px;
  }
}

/* title animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #7862D1;
  --color-2: #FD7E89;
  --color-3: #FFB8DF;
}

.title-word-2 {
  --color-1: #FAEFA7;
  --color-2: #7862D1;
  --color-3: #FD7E89;
}

.title-word-3 {
  --color-1: #FFB8DF;
  --color-2: #FAEFA7;
  --color-3: #7862D1;
}

.title-word-4 {
  --color-1: #FD7E89;
  --color-2: #FFB8DF;
  --color-3: #FAEFA7;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.container {
  padding: 10px;
  place-items: center;  
  text-align: center;
  height: 120px;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px #000;
  font-weight: 400;
  font-size: 4vw;
  text-transform: uppercase;
}

form {
  max-width:420px;
  margin:50px auto;
}

.feedback, .search {
  color:rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(204, 102, 102);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback:focus, .search:focus {
  border:2px solid rgb(204, 73, 73);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

#submit, #randomBtn, #searchBtn {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background:rgb(204, 102, 102);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#submit:hover, #randomBtn:hover, #searchBtn:hover {
  background:rgb(204, 73, 73);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#instructions, #ingredients {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#ingredients {
  list-style-type: none;
  font-size: 1.3rem;
}

#image {
  width: 35%;
  height: auto;
  display: flex;
  margin: 0 auto;
}

#errorSearch {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0;
}

#formStatus {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  max-width: 23rem;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
}

#formStatus:not(:empty) {
  animation: glow 1s forwards;
}

@keyframes glow {
  from {background-color: transparent}
  to {background-color: #ffe54c;}
}